.section1 {
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url(background_icon/backgroundhousing.png);
  background-attachment: fixed;
}

.section2 {
  background-size:cover;
  background-repeat: no-repeat;
  background-color:dimgray;
}   

.title {
  text-align: center;
  position: relative;
  top: 10px;
  font-family: "Helvetica";
  font-size: 40px;
  font-weight:bold;
  color: white;
  animation: fadeIn 4s;
} 

.text {
  color: black;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Montserrat";
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

h2{
  margin: 10px;
  font-size: 18px;
  color: white;
  font-family: Helvetica, sans-serif;
}

#topic1 {
  position: absolute;
  width: 800px;
  top: 150px;
  left:450px;
  height: 100px;
  text-align: left;
}

#topic2 {
  position: absolute;
  width: 800px;
  top: 250px;
  left:450px;
  height: 100px;
  text-align: left;
}

.text_topic {
  position: absolute;
  width: 900px;
  top: 10px;
  left:90px;
}

#topic3 {
  position: absolute;
  width: 800px;
  top: 350px;
  left:450px;
  height: 100px;
  text-align: left;
}

#topic4 {
  position: absolute;
  width: 800px;
  top: 450px;
  left:450px;
  height: 100px;
  text-align: left;
}

#topic5 {
position: absolute;
width: 800px;
top: 550px;
left:450px;
height: 100px;
text-align: left;
}

.intro {
text-align: center;
position: relative;
top: 60px;
width:70%;
margin:auto;
font-family: "Montserrat";
font-weight: normal;
font-size: 1.2vw;
color: white;
animation-delay: 3s;
animation: fadeIn 5s;
}