        body { 
                overflow: hidden;
                margin:0; 
                padding:0; 
              }

              body * {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
              }

              h1{
                margin: 10px;
                font-size: 16px;
                color: white;
                font-family:Helvetica, sans-serif;

              }


              h2{
                margin: 10px;
                font-size: 14px;
                color: white;
                font-family: Helvetica, sans-serif;

              }
              h3 {
                margin: 10px;
                font-size: 13px;
                color: #c7c7c7;
                font-family: Helvetica, sans-serif;
              }

              p {
                font-size: 12px;
                margin: 10px;
                text-align: left;
                color: #c7c7c7;
                font-family: Helvetica, sans-serif;
              }

            /**
            * Create a position for the map
            * on the page */
            #inflow {
              position: absolute;
              top: 0;
              bottom: 0;
              width: 50%;
            }
            #outflow {
              position: absolute;
              top: 0;
              left: 50%;
              bottom: 0;
              width: 50%;
            }

            #divider {
              background-color: gray;
              position: absolute;
              left: 50%;
              top: 0;
              bottom: 0;
              width: 1px;
              z-index: 2;
            }

            /**
            * Set rules for how the map overlays
            * (information box and legend) will be displayed
            * on the page. */
            .map-overlay {
              position: absolute;
              bottom: 0;
              right: 0;
              background: #282828;
              margin-right: 20px;
              font-family: Helvetica, sans-serif;
              overflow: auto;
              border-radius: 3px;
              border-width: 3px;
              opacity: 0.9;

            }

            .map-overlay-net{
                position: absolute;
                bottom: 0;
                right: 0;
                background: #282828;
                margin-right: 20px;
                font-family: Helvetica, sans-serif;
                overflow: auto;
                border-radius: 3px;    
                  }      


            #features {
              top: 0;
              height: 220px;
              margin-top: 20px;
              width: 210px;
              left: 15px;

            }
            #features1 {
              top: 0;
              margin-top: 20px;
              width: 210px;
              height: 190px;
              right: 15px;

            }

            #features2 {
              top: 0;
              margin-top: 20px;
              width: 210px;
              height: 220px;
              left: 15px;
              display: none;

            }

            #flowmapyear{
              position: absolute;
              display: none;
            }

            #flowmapyear2{
              position: absolute;
              display: none;
            }
            .slidecontainer {
                width: 100%;
            }
             .slider {
              -webkit-appearance: none;
              width: 100%;
              height: 10px;
              border-radius: 5px;
              background: dark;
              outline: none;
              opacity: 0.9;
              -webkit-transition: .2s;
              transition: opacity .2s;
              
            }

            .slider:hover {
              opacity: 1;
            }

            .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #afc9ca;
            cursor: pointer;
            }

            .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #afc9ca;
            cursor: pointer;
            }

            #slider1{
            display: none; }
            
            #slider3{
                display: none;
            }
            #button {
                background: #202020;
                border-radius: 10px;
                border: 2px solid #606060;
                color: white;
                font-family: "Helvetica";
                font-size: 14px;
                position: absolute;
                left: 600px;
                top: 30px;
                padding: 10px;
                display: none;

            }

            #button:hover {
                font-size: 1vw;
                box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
                cursor: pointer;
            }

            #flybutton{
                background: #202020;
                border-radius:  18px;
                border: 2px solid #606060;
                color: white;
                font-family: "Helvetica";
                font-size: 14px;
                position: absolute;
                left: 10px;
                top: 250px;
                padding: 10px;
                height: 40px;
                display: none;
        }
             #flybutton:hover {
                font-size: 1vw;
                box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
                cursor: pointer;
                
            }

             #chorobutton{
                background: #202020;
                border-radius:  15px;
                border: 2px solid #606060;
                color: white;
                font-family: "Helvetica";
                font-size: 14px;
                position: absolute;
                left: 10px;
                top: 250px;
                padding: 10px;
                height: 40px;
        }
             #chorobutton:hover {
                font-size: 1vw;
                box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
                cursor: pointer;
            }



              .mapboxgl-popup{
                font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
                color: black;
                margin:0;
                min-width: 300px;
                padding: 0;

              }
              .mapboxgl-popup-content{
                position: relative;
                background: #282828;
                opacity: 0.9;
                border-radius: 10px;
                border: 1px solid rgba(140,140,140,0.4);
              }
              .mapboxgl-popup-tip-container {
                width:0px;
                height:0px;
                margin:0 auto;
                position:relative;

              }
              .mapboxgl-popup-tip {
                width:0;
                height:0;
                margin:0;

                box-shadow:none;
              }

            .mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
            .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
            .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
        border-bottom-color: #282828;
        opacity: 0.95;
        }
            .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
            .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
            .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
        border-top-color: #282828;
        opacity: 0.95;
        }
            .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
        border-right-color: #282828;
        opacity: 0.95;
        }
            .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
        border-left-color: #282828;
        opacity: 0.95;
        }       

            #table,th,td {
              font-family: Helvetica, sans-serif;
              color: white;
              border-collapse:collapse;
              width: 100%;
            }

            #td, th {
              /*border: 1px solid #dddddd;*/
              padding: 5px;
              background-color:#d4dee8;
              color:black;
              }

             #td{
                text-align: center;
              }  
             #th{
                text-align: center;
              } 

            .legend {
                background-color: #282828;
                border-radius: 8px;
                bottom: 30px;
                box-shadow: 0 1px 2px rgba(0,0,0,0.10);
                font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
                color: white;
                padding: 10px;
                position: absolute;
                left: 10px;
                z-index: 1;
                opacity: 0.8;
                display: none;
              }

              .legend h4 {
                margin: 0 0 10px;
              }

              .legend div span {
                border-radius: 50%;
                display: inline-block;
                height: 10px;
                margin-right: 10px;
                width: 10px;
              }

              .legend1 {
                background-color: #282828;
                border-radius: 8px;
                bottom: 30px;
                box-shadow: 0 1px 2px rgba(0,0,0,0.10);
                font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
                color: white;
                padding: 10px;
                position: absolute;
                right: 10px;
                z-index: 1;
                opacity: 0.8;
                display: none;
              }

              .legend1 h4 {
                margin: 0 0 10px;
              }

              .legend1 div span {
                border-radius: 50%;
                display: inline-block;
                height: 10px;
                margin-right: 10px;
                width: 10px;
              }


            .legend2 {
                background-color: #282828;
                border-radius: 8px;
                bottom: 30px;
                box-shadow: 0 1px 2px rgba(0,0,0,0.10);
                font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
                color: white;
                padding: 10px;
                position: absolute;
                left: 580px;
                z-index: 1;
                display: none;
                opacity: 0.8;
              }

              .legend2 h4 {
                margin: 0 0 10px;
              }

              .legend2 div span {
                border-radius: 50%;
                display: inline-block;
                height: 10px;
                margin-right: 5px;
                width: 10px;
              }

              #info {
                position: fixed;
                display: none;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.8);
                z-index: 75;
              }
              
              #infobox {
                position: absolute;
                text-align: left;
                top: 20%;
                left: 20%;
                right: 20%;
                color: white;
              }
              
              #infocircle {
                right: 0;
                position: fixed;
                z-index: 70;
                padding: 0;
                margin: 0;
              }
              
              #infotext {
                display: block;
                float: center;
                text-align: center;
                margin: 5px;
                width: 1.5vw;
                height: 1.5vw;
                background: rgba(255, 255, 255, 0.8);
                border-radius: 50%;
              }
              
              #infotext:hover {
                background: rgba(114, 159, 162, 0.8);
                cursor: pointer;
              }