    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:100%; }
      .map-overlay {
		    font: 12px/20px 'Helvetica', Arial, Helvetica, sans-serif;
            border-radius: 13px;
		    position: absolute;
		    width: 25%;
		    top: 0;
		    right: 0;
		    padding: 10px;
		}

      .map-overlay.left {
		    top: unset;
            left: 0;
          }
      
      .map-overlay .map-overlay-inner {
		    background-color: #dbdbdb;
		    box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
		    border-radius: 13px;
		    padding: 10px;
		    margin-bottom: 10px;
		}
      
      .map-overlay .map-overlay-inner-right {
		    background-color: #dbdbdb;
		    box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
		    border-radius: 13px;
		    padding: 10px;
		    margin-bottom: 10px;
            font: 10px/17px 'Helvetica', Arial, Helvetica, sans-serif;
		}
      
      		.map-overlay table {
		    border: none;
		    width: 100%;
		}

		.map-overlay h2 {
		    line-height: 24px;
		    display: block;
		    margin: 0 0 10px;
		}

.legend-box {
    font: 15px/20px 'Helvetica', Arial, Helvetica, sans-serif;
    background: #dbdbdb;
    border-radius: 13px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    padding: 10px;
}

.legend-box .title {
	margin-bottom:5px;
}

.legend label,
.legend span {
  display:block;
  float:left;
  height:15px;
  width:20%;
  text-align:center;
  font-size:9px;
  color:#808080;
  padding-top:2px;
  }
      
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #bababa;
  outline: none;
  opacity: 0.5;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #E6B71E;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #E6B71E;
  cursor: pointer;
}
.mapboxgl-popup-content {
        position: relative;
        background: #dbdbdb;
        opacity: 0.95;
        border-radius: 3px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.10);
        padding: 10px 10px 15px;
        pointer-events: auto;
    }
.mapboxgl-popup-tip {
        opacity: 0.7;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        z-index: 1;
    }      
  </style>
</head>
<body>



<!-- Set the display of this container to none so we can
     add it programmatically to `legendControl` -->
<div style="z-index:9999; position:absolute; bottom:24px; right: 10px;" id='legend' class="legend-box">
  <div class="title"><strong>Average number of People per Dwelling 2011-2017</strong></div>
  <nav class='legend clearfix'>
    <span style='background:#FFFFB8;'></span>
    <span style='background:#E6B71E;'></span>
    <span style='background:#CA8323;'></span>
    <span style='background:#A25626;'></span>
    <span style='background:#723122;'></span>
   <br>
    <label>1.2</label>
    <label>2.3</label>
    <label>2.5</label>
    <label>2.7</label>
    <label>3.1</label>
   <br><br>
    <span style='background:#00BACF;'></span><b>&nbsp Net housing additions</b><span style='background:#00BACF;'></span><br>
    <span style='background:#50DB00;'></span><b>&nbsp % Affordable housing </b><span style='background:#50DB00;'></span><br>    
</div>

    
<div id='map'></div>

    
<div class='map-overlay'>
    <div class='map-overlay-inner-right'>
        <h3 id="countryname"></h3>
	</div>
</div>
    
<div class='map-overlay left' id='features'>
    <div class="map-overlay-inner" id = 'sliderbox'>
    <h2>Is London's meeting the demand for new housing? </h2>
     <h2>Year: <label id='slider-value'>2011</label></h2>
     <table><tr><td>
         <label id='year'></label>
      <input id='slider' type='range' class='slider' min='0' max='6' step='1' value='0' list='tickmarks' />
      <datalist id="tickmarks">
        <option value="0" label="2011">
          <option value="1" label="2012">
            <option value="2" label="2013">
              <option value="3" label="2014">
                <option value="4" label="2015">
                  <option value="5" label="2016">
                    <option value="6" label="2017">
                  </datalist>
                </td>
              </tr></table> <label>&nbsp;2011&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2012&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2013&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2014&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2015&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2016&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017</label>
                <p class="credit">&copy; Thomas Visscher 2019&nbsp;<a href="https://data.london.gov.uk/dataset/net-additional-dwellings-borough">Download Datasets</a>.</p>
            </div>
          </div>