body { 
  overflow: hidden;
  margin:0; 
  padding:0; 
}


h2 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

h3 {
font-size: 1em;
}

p {
font-size: 14px;
margin: 5px;
text-align: left;
}

/**
* Create a position for the map
* on the page */
#social {
position: absolute;
top: 0;
bottom: 0;
width: 50%;
}
#private {
position: absolute;
top: 0;
left: 50%;
bottom: 0;
width: 50%;
}

#divider {
background-color: gray;
position: absolute;
left: 50%;
top: 0;
bottom: 0;
width: 1px;
z-index: 2;
}

#console {
  position: absolute;
  opacity: .5;
  width: 200px;
  margin: 10px;
  padding: 10px 20px;
  background-color: white;
}

/**
* Set rules for how the map overlays
* (information box and legend) will be displayed
* on the page. */
.map-overlay {
position: absolute;
bottom: 0;
right: 0;
background: rgba(255, 255, 255, 0.8);
margin-right: 20px;
padding: 10px 20px;
font-family: Helvetica, sans-serif;
overflow: auto;
border-radius: 3px;
}

#features {
top: 0;
height: 170px;
margin-top: 20px;
margin-left: 10px;
padding: 10px 20px;
width: 220px;
left: 15px;

}
#features1 {
top: 0;
height: 170px;
margin-top: 20px;
margin-left: 10px;
padding: 10px 20px;
width: 220px;
right: 15px;

}

.slidecontainer {
  width: 100%;
}
.slider {
-webkit-appearance: none;
width: 100%;
height: 15px;
border-radius: 5px;
background: #fef0d9;
outline: none;
opacity: 1;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 20px;
height: 20px;
border-radius: 50%;
background: #b30000;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
border-radius: 50%;
background: #b30000;
cursor: pointer;
}

#sociallegend {
padding: 10px;
left: 10px;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
line-height: 18px;
height: 100px;
margin-bottom: 40px;
width: 150px;
}

.sociallegend-key {
display: inline-block;
border-radius: 50%;
width: 10px;
height: 10px;
margin-right: 5px;
}

#privatelegend {
padding: 10px;
right: 10px;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
line-height: 18px;
height: 100px;
margin-bottom: 40px;
width: 150px;
}

.privatelegend-key {
display: inline-block;
border-radius: 50%;
width: 10px;
height: 10px;
margin-right: 5px;
}

#menu {
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 40%;
  border-radius: 3px;
  width: 140px;
  border: 1px solid rgba(0,0,0,0.4);
  font-family: 'Open Sans', sans-serif;
  }

#privatemenu {
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 40%;
  border-radius: 3px;
  width: 140px;
  border: 1px solid rgba(0,0,0,0.4);
  font-family: 'Open Sans', sans-serif;
  }

#menu a {
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  text-align: center;
  }
   
#menu a:last-child {
border: none;
}
 
#menu a:hover {
background-color: #f8f8f8;
color: #404040;
}
 
#menu a.active {
background-color: #fc8d59;
color: #ffffff;
}
  
#menu a.active:hover {
background: #b30000;
}  

#privatemenu a {
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  text-align: center;
  }
   
  #privatemenu a:last-child {
  border: none;
  }
   
  #privatemenu a:hover {
  background-color: #f8f8f8;
  color: #404040;
  }
   
  #privatemenu a.active {
  background-color: #fc8d59;
  color: #ffffff;
  }
    
  #privatemenu a.active:hover {
  background: #b30000;
  }  