body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

h1{
  margin: 10px;
  font-size: 16px;
  color: white;
  font-family:Helvetica, sans-serif;

}


h2{
  margin: 10px;
  font-size: 14px;
  color: white;
  font-family: Helvetica, sans-serif;

}
h3 {
  margin: 10px;
  font-size: 13px;
  color: #c7c7c7;
  font-family: Helvetica, sans-serif;
}

p {
  font-size: 12px;
  margin: 10px;
  text-align: left;
  color: #c7c7c7;
  font-family: Helvetica, sans-serif;
}

#social {
position: absolute;
top: 0;
bottom: 0;
width: 50%;
}
#private {
position: absolute;
top: 0;
left: 50%;
bottom: 0;
width: 50%;
}

#divider {
background-color: gray;
position: absolute;
left: 50%;
top: 0;
bottom: 0;
width: 1px;
z-index: 2;
}

#console {
  position: absolute;
  opacity: .5;
  width: 200px;
  margin: 10px;
  padding: 10px 20px;
  background-color: #282828;
}

/**
* Set rules for how the map overlays
* (information box and legend) will be displayed
* on the page. */
.map-overlay {
position: absolute;
bottom: 0;
right: 0;
background: #282828;
margin-right: 20px;
padding: 10px;
font-family: Helvetica, sans-serif;
overflow: auto;
border-radius: 3px;
}

#features {
top: 0;
height: 280px;
margin-top: 20px;
margin-left: 10px;;
width: 200px;
left: 15px;

}
#features1 {
top: 0;
height: 280px;
margin-top: 20px;
margin-left: 10px;
width: 200px;
right: 15px;

}

.mapboxgl-popup-content {
  position: relative;
  background: #282828;
  opacity: 0.95;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.10);
  padding: 10px 10px 15px;
  pointer-events: auto;
  color: #c7c7c7
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
border-bottom-color: #282828;
opacity: 0.95;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
border-top-color: #282828;
opacity: 0.95;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
border-right-color: #282828;
opacity: 0.95;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
border-left-color: #282828;
opacity: 0.95;
}   

.slidecontainer {
  width: 100%;
}
.slider {
-webkit-appearance: none;
width: 100%;
height: 15px;
border-radius: 5px;
background: #fef0d9;
outline: none;
opacity: 1;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 20px;
height: 20px;
border-radius: 50%;
background: #b30000;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
border-radius: 50%;
background: #b30000;
cursor: pointer;
}

#sociallegend {
padding: 10px;
left: 10px;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
line-height: 18px;
height: 100px;
margin-bottom: 40px;
width: 150px;
color: #ffff;
}

.sociallegend-key {
display: inline-block;
border-radius: 50%;
width: 10px;
height: 10px;
margin-right: 5px;
color: #ffff;
}

#privatelegend {
padding: 10px;
right: 10px;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
line-height: 18px;
height: 100px;
margin-bottom: 40px;
width: 150px;
color: #ffff;
}

.privatelegend-key {
display: inline-block;
border-radius: 50%;
width: 10px;
height: 10px;
margin-right: 5px;
color: #ffff;
}

#menu {
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 40%;
  border-radius: 3px;
  width: 140px;
  border: 1px solid rgba(0,0,0,0.4);
  font-family: 'Open Sans', sans-serif;
  }

#privatemenu {
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 40%;
  border-radius: 3px;
  width: 140px;
  border: 1px solid rgba(0,0,0,0.4);
  font-family: 'Open Sans', sans-serif;
  }

#menu a {
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  text-align: center;
  }
   
#menu a:last-child {
border: none;
}
 
#menu a:hover {
background-color: #f8f8f8;
color: #404040;
}
 
#menu a.active {
background-color: #fc8d59;
color: #ffffff;
}
  
#menu a.active:hover {
background: #b30000;
}  

#privatemenu a {
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  text-align: center;
  }
   
  #privatemenu a:last-child {
  border: none;
  }
   
  #privatemenu a:hover {
  background-color: #f8f8f8;
  color: #404040;
  }
   
  #privatemenu a.active {
  background-color: #fc8d59;
  color: #ffffff;
  }
    
  #privatemenu a.active:hover {
  background: #b30000;
  }  

  #info {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 75;
  }
  
  #infobox {
    position: absolute;
    text-align: left;
    top: 20%;
    left: 20%;
    right: 20%;
    color: white;
  }
  
  #infocircle {
    right: 0;
    position: fixed;
    z-index: 70;
    padding: 0;
    margin: 0;
  }
  
  #infotext {
    display: block;
    float: center;
    text-align: center;
    margin: 5px;
    width: 1.5vw;
    height: 1.5vw;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
  }
  
  #infotext:hover {
    background: rgba(114, 159, 162, 0.8);
    cursor: pointer;
  }