body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

h1{
  margin: 10px;
  font-size: 16px;
  color: white;
  font-family:Helvetica, sans-serif;

}


h2{
  margin: 10px;
  font-size: 14px;
  color: white;
  font-family: Helvetica, sans-serif;

}
h3 {
  margin: 10px;
  font-size: 13px;
  color: #c7c7c7;
  font-family: Helvetica, sans-serif;
}

p {
  font-size: 12px;
  margin: 10px;
  text-align: left;
  color: #c7c7c7;
  font-family: Helvetica, sans-serif;
}


.map-overlay {
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
position: absolute;
width: 300px;
min-width: 250px;
top: 0;
left: 0;
padding: 10px;
margin-left: 10px;
}
.box-legend {
position: absolute;
bottom: 0;
right: 0;
background: #282828;
margin-right: 20px;
font-family: Arial, sans-serif;
overflow: auto;
border-radius: 3px;
color: #ffffff;
}

#legend {
padding: 10px;
bottom: 0;
right: 0;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
line-height: 18px;
height: 110px;
margin-bottom: 40px;
width: 150px;
}

.legend-key {
display: inline-block;
border-radius: 50%;
width: 10px;
height: 10px;
margin-right: 5px;
}
.map-overlay .map-overlay-inner {
background-color: #282828;
opacity: 1;
box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
border-radius: 3px;
padding: 10px;
margin-bottom: 10px;
}

.map-overlay h2 {
opacity: 1;
line-height: 24px;
display: block;
margin: 0 0 10px;
}

.map-overlay p {
opacity: 1;
line-height: 18px;
display: block;
margin: 0 0 0;
}

.mapboxgl-popup-content {
  position: relative;
  background: #282828;
  opacity: 0.95;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.10);
  padding: 10px 10px 15px;
  pointer-events: auto;
  color: #c7c7c7
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
border-bottom-color: #282828;
opacity: 0.95;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
border-top-color: #282828;
opacity: 0.95;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
border-right-color: #282828;
opacity: 0.95;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
border-left-color: #282828;
opacity: 0.95;
}   

#flyin {
  font: Helvetica;
  font-size: 14px;
  display: block;
  position: relative;
  margin: 0px auto;
  width: 40%;
  height: 40px;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  text-align: center;
  color: #c7c7c7;
  background: rgba(40, 40, 40, 0.8);
}

#flyout {
  font: Helvetica;
  font-size: 14px;
  position: relative;
  margin: 0px auto;
  width: 40%;
  height: 40px;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  text-align: center;
  color: #c7c7c7;
  background: rgba(40, 40, 40, 0.8);
  display: block;
}
  .slidecontainer {
    width: 100%;
}
 .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #535353;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 20px;
height: 20px;
border-radius: 50%;
background: #e55e5e;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
border-radius: 50%;
background: #e55e5e;
cursor: pointer;
}

#info {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 75;
}

#infobox {
  position: absolute;
  text-align: left;
  top: 20%;
  left: 20%;
  right: 20%;
  color: white;
}

#infocircle {
  right: 0;
  position: fixed;
  z-index: 70;
  padding: 0;
  margin: 0;
}

#infotext {
  display: block;
  float: center;
  text-align: center;
  margin: 5px;
  width: 1.5vw;
  height: 1.5vw;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

#infotext:hover {
  background: rgba(114, 159, 162, 0.8);
  cursor: pointer;
}