body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

.map-overlay {
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
position: absolute;
width: 300px;
min-width: 250px;
top: 0;
left: 0;
padding: 10px;
margin-left: 10px;
}
.box-legend {
position: absolute;
bottom: 0;
right: 0;
background: rgba(255, 255, 255, 0.8);
margin-right: 20px;
font-family: Arial, sans-serif;
overflow: auto;
border-radius: 3px;
}

#legend {
padding: 10px;
bottom: 0;
right: 0;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
line-height: 18px;
height: 100px;
margin-bottom: 40px;
width: 100px;
}

.legend-key {
display: inline-block;
border-radius: 20%;
width: 10px;
height: 10px;
margin-right: 5px;
}
.map-overlay .map-overlay-inner {
background-color: #fff;
opacity: .5;
box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
border-radius: 3px;
padding: 10px;
margin-bottom: 10px;
}

.map-overlay h2 {
opacity: 1;
line-height: 24px;
display: block;
margin: 0 0 10px;
}

.map-overlay p {
opacity: 1;
line-height: 18px;
display: block;
margin: 0 0 0;
}

.map-overlay p.credit {
margin: 0;
padding: 0;
}

.mapboxgl-popup {
max-width: 150px;
min-width: 100px;
font: 12px/18px 'Helvetica Neue', Arial, Helvetica, sans-serif;
padding: 0;
margin: 0,0,0,0;
}
