body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

.map-overlay {
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
position: absolute;
width: 300px;
min-width: 250px;
top: 0;
left: 0;
padding: 10px;
margin-left: 10px;
}
.box-legend {
position: absolute;
bottom: 0;
right: 0;
background: rgba(255, 255, 255, 0.8);
margin-right: 20px;
font-family: Arial, sans-serif;
overflow: auto;
border-radius: 3px;
}

#legend {
padding: 10px;
bottom: 0;
right: 0;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
line-height: 18px;
height: 150px;
margin-bottom: 40px;
width: 100px;
}

.legend-key {
display: inline-block;
border-radius: 50%;
width: 10px;
height: 10px;
margin-right: 5px;
}
.map-overlay .map-overlay-inner {
background-color: #fff;
opacity: .7;
box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
border-radius: 3px;
padding: 10px;
margin-bottom: 10px;
}

.map-overlay h2 {
opacity: 1;
line-height: 24px;
display: block;
margin: 0 0 10px;
}

.map-overlay p {
opacity: 1;
line-height: 18px;
display: block;
margin: 0 0 0;
}

.map-overlay p.credit {
margin: 0;
padding: 0;
}

.mapboxgl-popup {
max-width: 150px;
min-width: 100px;
font: 12px/18px 'Helvetica Neue', Arial, Helvetica, sans-serif;
padding: 0;
margin: 0,0,0,0;
}

#flyin {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 10%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: black;
    background: white;
    opacity: .7;
  }

  #flyout {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 10%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: black;
    background: white;
    opacity: .7;
  }
  .slidecontainer {
    width: 100%;
}
 .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #535353;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 20px;
height: 20px;
border-radius: 50%;
background: #99420c;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
border-radius: 50%;
background: #99420c;
cursor: pointer;
}